.form {
  margin: 0 auto;
  width: 50%;
}
.label {
  display: block;
  padding-bottom: 10px;
}
.input {
  width: 100%;
  display: block;
  margin: 10px 0px;
  padding: 5px 5px;
  border-radius: 6px;
  border: 2px solid rgb(151, 151, 151);
}
.button {
  margin: 0px 0px 0px 35px;
  padding: 5px 43px;
  border-radius: 6px;
  border: 3px solid rgb(172, 174, 196);
  background-color: rgb(109, 151, 199);
  color: cornsilk;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(114, 114, 114);
  color: rgb(166, 255, 166);
}
